html {
	color: #fff;
	background-color: #111
}

#middle {
    height: 250px;
    width: 400px;
	background-color: rgba(40, 40, 40, 0.9);
	border-radius: 14px;
    border-color: #aaa;
    border-style: solid;
    border-width: 3px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -125px;
    margin-left: -200px;
}

#text-div {
    text-align: center;
    color: #ddd;
    vertical-align: middle;
    line-height: 130px;
    font-size: 80px;
    font-family: "Noto Sans",  sans-serif;
}

#links { text-align: center; }
#links a { color: #c4a000; text-decoration: none; line-height: 23px; }
#links a:hover { color: #4e9a06; }
